@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello World from .NET 8</h1>
    <p>About building .NET core apps <a href="https://docs.microsoft.com/aspnet/core"></a>.</p>
    <hr />
    <div>Host operating system: @Model.OSVersion</div>
</div>
